.root {
  --accent-color-checkbox: var(--color-primary-500);
  --size-checkbox: 1.25em;

  display: inline-flex;
  align-items: center;
  font-size: calc(var(--size-checkbox) * 0.8);
}

.control {
  display: grid;
  place-items: center;
  width: var(--size-checkbox);
  height: var(--size-checkbox);
  margin-right: 0.5em;
  border: 0.125em solid var(--color-gray-900);
}

.icon {
  width: 90%;
  stroke: var(--accent-color-checkbox);
  transform: scale(0);
}

.input {
  &:focus + .control {
    background: var(--color-gray-100);
    border: 0.125em solid var(--accent-color-checkbox);
    box-shadow: 0 0 0.3em 0.05em var(--accent-color-checkbox);
  }

  &:checked + .control .icon {
    transform: scale(1);
  }
}

.label {
  margin-top: 2px;
}
